<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Walken</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="{{STATIC_URL}}bootstrap/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }
    </style>
    <link href="{{STATIC_URL}}bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="{{STATIC_URL}}css/default.css" rel="stylesheet">

    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Walken</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li><a href="/">Movies</a></li>
              <li><a href="/files/">Files</a></li>
            </ul>
            <p class="navbar-text pull-right">Logged in as <a href="#">username</a></p>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span12">
          
          {% block content %}{% endblock content %}

        </div>
      </div>

    </div>
    
    <script src="{{STATIC_URL}}js/jquery.js"></script>
    <script src="{{STATIC_URL}}js/jquery.tablesorter.min.js"></script> 
<!--     // <script src="{{STATIC_URL}}bootstrap/js/bootstrap.min.js"></script>
    // <script src="{{STATIC_URL}}bootstrap/js/bootstrap-tooltip.js"></script>
    // <script src="{{STATIC_URL}}bootstrap/js/bootstrap-popover.js"></script> -->

    <script>
      function add_tag(value, label){
        if (value) {
          $('#tags').append('<span class="label label-' + label + '">' + value + ' <i class"icon-white">&times;</i></span> ');
        }
      }
      $(function(){
        $("#sortableTable").tablesorter(); 
        // $('#btn-include').click(function(e){
        //   add_tag($('#query').val(), 'info');
        // });
        // $('#btn-exclude').click(function(e){
        //   add_tag($('#query').val(), 'warning');
        // });
        // $('#tags .label').live('click', function(e){
        //   $(this).remove();
        // });
        // $('.movie-entry').popover({'animation':false, 'placement':'left', 'content':function(){
        //   return $(this).find('.movie-details').html();
        // }});
        // $('.movie-entry .movie-rating').popover({'animation':false, 'placement':'bottom', 'content':function(){
        //   return $(this).find('.rating-details').html();
        // }});
      });
    </script>

  </body>
</html>
